.body{
    background-color: rgb(232, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 50%;
    
}
.logo{
    color: rgb(30, 30, 168);
    font-size: 48px;
    font-weight: bold;
}
.tagline{
    font-size: 24px;
    color: black;
    margin-top: 10px;
}
.right{
    width: 40%;

}
.loginform{
    background-color: white;
    padding: 16px;
    border-radius: 5px;

}
.loginform input{
    width: 100%;
    padding: 10px;
    margin: 10px;
}